<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title>会计网管理平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="会计网" name="Copyright" />
<link rel="stylesheet" href="/images/admincp/admincp.css" type="text/css" media="all" />
<script src="/js/common.js" type="text/javascript"></script>
</head>
<body style="margin: 0px" scroll="no">
<div id="append_parent"></div>
<table cellpadding="0" cellspacing="0" width="100%" height="100%">
<tr>
<td colspan="2" height="90">
<div class="mainhd">

<div class="logo">会计网管理平台</div>
<div class="uinfo">
<p></p>
<p class="btnlink"><a href="/" target="_blank">主页</a></p>
</div>
<div class="navbg"></div>
<div class="nav">
<ul id="topmenu">
    <li><em><a href="javascript:;" id="header_index" hidefocus="true" onclick="toggleMenu('index', 'admin/welcome');">首页</a></em></li>
    <% for ziyuan in @ziyuans %>
    <li><em><a href="javascript:;" id="header_<%=ziyuan.remark%>" hidefocus="true" onclick="toggleMenu('<%=ziyuan.remark%>', '<%=ziyuan.url%>');"><%=ziyuan.name%></a></em></li>
    <% end  %>
    <!--
    <li><em><a href="javascript:;" id="header_lunwen" hidefocus="true" onclick="toggleMenu('lunwen', 'lunwen');">论文评审</a></em></li>
    <li><em><a href="javascript:;" id="header_wenjian" hidefocus="true" onclick="toggleMenu('wenjian', 'shouwen');">文件收发</a></em></li>
    <li><em><a href="javascript:;" id="header_bangong" hidefocus="true" onclick="toggleMenu('bangong', 'workflow');">办公流程</a></em></li>
    <li><em><a href="javascript:;" id="header_huiyi" hidefocus="true" onclick="toggleMenu('huiyi', 'huiyi');">会议管理</a></em></li>
    <li><em><a href="javascript:;" id="header_guanggao" hidefocus="true" onclick="toggleMenu('guanggao', 'guanggao');">广告系统</a></em></li>
    <!--<li><em><a href="javascript:;" id="header_shopcart" hidefocus="true" onclick="toggleMenu('shopcart', 'shopcart');">购物车</a></em></li>
    <li><em><a href="javascript:;" id="header_system" hidefocus="true" onclick="toggleMenu('system', 'article');">系统管理</a></em></li>-->
</ul>
<div class="currentloca">
<p id="admincpnav"></p>
</div>
<div class="navbd"></div>
<div class="sitemapbtn">

	<div style="display:none;float: left; margin:-5px 10px 0 0"><form name="search" method="post" action="?action=search" target="main"><input type="text" name="keywords" value="" class="txt" /> <input type="hidden" name="searchsubmit" value="yes" class="btn" /><input type="submit" name="searchsubmit" value="搜索" class="btn" style="margin-top: 5px;vertical-align:middle" /></form></div>
	<span id="add2custom">您好, <em><%=  @current_user.name rescue nil%>(<%=  @current_user.realname rescue nil%>)</em> [ <a href="/login/logout" target="_top">退出</a> ]</span>
	<a style="display:none" href="###" id="cpmap" onclick="showMap();return false;"><img src="images/admincp/btn_map.gif" title="后台导航" width="72" height="18" /></a>
</div>
</div>
</div>
</td>
</tr>
<tr>
<td valign="top" width="160" class="menutd">
<div id="leftmenu" class="menu">
<% for ziyuan in @ziyuans %>
<ul id="menu_<%=ziyuan.remark%>" style="display: none">
  <%
  for children in @small_ziyuans
    if children.parent_id == ziyuan.id
  %>
    <li><a href="<%=children.url%>" hidefocus="true" target="main"><%=children.name%></a></li>
  <%
    end
  end  %>
</ul>
<% end  %>
<!--
<ul id="menu_zhuanjia" style="display: none">
    <li><a href="zhuanjia/list" hidefocus="true" target="main">专家列表</a></li>
    <li><a href="zhuanjia/search" hidefocus="true" target="main">专家查询</a></li>
    <li><a href="zhicheng" hidefocus="true" target="main">职称管理</a></li>
    <li><a href="hycategory" hidefocus="true" target="main">行业分类管理</a></li>
    <li><a href="config/edit/4" hidefocus="true" target="main">专家库简介</a></li>
</ul>
<ul id="menu_lunwen" style="display: none">
    <li><a href="lunwen" hidefocus="true" target="main">论文管理</a></li>
    <li><a href="lunwen/pingshen" hidefocus="true" target="main">论文评审</a></li>
    <li><a href="lwcategory" hidefocus="true" target="main">论文分类管理</a></li>
    <li><a href="tjdanwei" hidefocus="true" target="main">推荐单位管理</a></li>
    <li><a href="scoretype" hidefocus="true" target="main">评审项管理</a></li>
</ul>
<ul id="menu_wenjian" style="display: none">
    <li><a href="shouwen/new" hidefocus="true" target="main">收文登记</a></li>
    <li><a href="shouwen/mylist" hidefocus="true" target="main">待批阅文件</a></li>
    <li><a href="shouwen/list" hidefocus="true" target="main">已登记列表</a></li>
    <li><a href="fawen/new" hidefocus="true" target="main">新建发文</a></li>
    <li><a href="fawen/list" hidefocus="true" target="main">发文列表</a></li>
</ul>
<ul id="menu_bangong" style="display: none">
    <li><a href="workflow/new" hidefocus="true" target="main">启动新业务</a></li>
    <li><a href="workflow" hidefocus="true" target="main">工作管理</a></li>
</ul>
<ul id="menu_huiyi" style="display: none">
    <li><a href="huiyi" hidefocus="true" target="main">会议列表</a></li>
</ul>
<ul id="menu_guanggao" style="display: none">
    <li><a href="guanggao" hidefocus="true" target="main">广告管理</a></li>
</ul>
<ul id="menu_shopcart" style="display: none">
    <li><a href="shopcart" hidefocus="true" target="main">购物车</a></li>
</ul>
<ul id="menu_system" style="display: none">
    <li><a href="article" hidefocus="true" target="main">新闻管理</a></li>
    <li><a href="category" hidefocus="true" target="main">新闻栏目</a></li>
    <li><a href="user" hidefocus="true" target="main">用户管理</a></li>
    <li><a href="group" hidefocus="true" target="main">用户组管理</a></li>
    <li><a href="ziyuan" hidefocus="true" target="main">资源管理</a></li>
    <li><a href="config/edit/1" hidefocus="true" target="main">学会简介</a></li>
    <li><a href="config/edit/2" hidefocus="true" target="main">联系我们</a></li>
    <li><a href="config/edit/3" hidefocus="true" target="main">网站简介</a></li>
</ul>
-->
<ul id="menu_uc" style="display: none"></ul>
<ul id="menu_index" style="display: none">
    <li><a href="admin/welcome" hidefocus="true" target="main">后台首页</a></li>
    <li><a href="http://bbs.casc1986.com.cn/login.asp" hidefocus="true" target="_blank">登录论坛</a></li>
    <li><a href="http://shop.casc1986.com.cn/" hidefocus="true" target="_blank">登录商城</a></li>
    <li><a href="http://mail.casc1986.com.cn:3000/" hidefocus="true" target="_blank">登录邮箱</a></li>
	<li><a href="/wnl.html" hidefocus="true" target="main">万年历</a></li>
	<li><a href="http://www.265.com/weather/index.htm#54511" hidefocus="true" target="main">天气预报</a></li>
    <li><a href="/help.htm" hidefocus="true" target="main">使用帮助</a></li>
</ul>

</div>
</td>
<td valign="top" width="100%"class="mask"><iframe src="/admin/welcome" name="main" width="100%" height="100%" frameborder="0"scrolling="yes" style="overflow: visible;"></iframe></td>
</tr>
</table>

<div class="copyright">
	<p>Powered by <a href="http://www.xvaca.com/" target="_blank">vaca</a> </p>
	<p>&copy; 2008-2009, <a href="http://www.xvaca.com/" target="_blank">Vaca Inc.</a></p>

</div>

<div id="cpmap_menu" class="custom" style="display:none">
	<div class="cside">
		<h3><span class="ctitle1"></span><a href="javascript:;" onclick="toggleMenu('tool', 'misc&operation=custommenu');hideMenu();" class="cadmin">管理</a></h3>
		<ul class="cslist" id="custommenu"></ul>
	</div>
	<div class="cmain" id="cmain"></div>
	<div class="cfixbd"></div>
</div>

<script type="text/JavaScript">
	var headers = new Array('index', 'zhuanjia', 'lunwen', 'wenjian', 'bangong', 'huiyi', 'guanggao', 'shopcart', 'system');
	var admincpfilename = '';
	function toggleMenu(key, url) {
		if(key == 'index' && url == 'home') {
			if(is_ie) {
				doane(event);
			}
			parent.location.href = '/admin/welcome';
			return false;
		}
		for(var k in headers) {
			if($('menu_' + headers[k])) {
				$('menu_' + headers[k]).style.display = headers[k] == key ? '' : 'none';
			}
		}
		var lis = $('topmenu').getElementsByTagName('li');
		for(var i = 0; i < lis.length; i++) {
			if(lis[i].className == 'navon') lis[i].className = '';
		}
		$('header_' + key).parentNode.parentNode.className = 'navon';
		if(url) {
			parent.main.location = url;
			var hrefs = $('menu_' + key).getElementsByTagName('a');
			for(var j = 0; j < hrefs.length; j++) {
				hrefs[j].className = hrefs[j].href.substr(hrefs[j].href.indexOf(admincpfilename + '?action=') + 19) == url ? 'tabon' : (hrefs[j].className == 'tabon' ? '' : hrefs[j].className);
			}
		}
		return false;
	}
	function initCpMenus(menuContainerid) {
		var key = '';
		var hrefs = $(menuContainerid).getElementsByTagName('a');
		for(var i = 0; i < hrefs.length; i++) {
			if(menuContainerid == 'leftmenu' && !key && ''.indexOf(hrefs[i].href.substr(hrefs[i].href.indexOf(admincpfilename + '?action=') + 12)) != -1) {
				key = hrefs[i].parentNode.parentNode.id.substr(5);
				hrefs[i].className = 'tabon';
			}
			if(!hrefs[i].getAttribute('ajaxtarget')) hrefs[i].onclick = function() {
				if(menuContainerid != 'custommenu') {
					var lis = $(menuContainerid).getElementsByTagName('li');
					for(var k = 0; k < lis.length; k++) {
						if(lis[k].firstChild.className != 'menulink') lis[k].firstChild.className = '';
					}
					if(this.className == '') this.className = menuContainerid == 'leftmenu' ? 'tabon' : 'bold';
				}
				if(menuContainerid != 'leftmenu') {
					var hk, currentkey;
					var leftmenus = $('leftmenu').getElementsByTagName('a');
					for(var j = 0; j < leftmenus.length; j++) {
						hk = leftmenus[j].parentNode.parentNode.id.substr(5);
						if(this.href.indexOf(leftmenus[j].href) != -1) {
							leftmenus[j].className = 'tabon';
							if(hk != 'index') currentkey = hk;
						} else {
							leftmenus[j].className = '';
						}
					}
					if(currentkey) toggleMenu(currentkey);
					hideMenu();
				}
			}
		}
		return key;
	}
	var header_key = initCpMenus('leftmenu');
	toggleMenu(header_key ? header_key : 'index');
	function initCpMap() {
		var ul, hrefs, s;
		s = '<ul class="cnote"><li><img src="images/admincp/btn_map.gif" /></li><li> 按 “ ESC ” 键展开 / 关闭此菜单</li></ul><table class="cmlist" id="mapmenu"><tr>';

		for(var k in headers) {
			if(headers[k] != 'index' && headers[k] != 'uc') {
				s += '<td valign="top"><ul class="cmblock"><li><h4>' + $('header_' + headers[k]).innerHTML + '</h4></li>';
				ul = $('menu_' + headers[k]);
				hrefs = ul.getElementsByTagName('a');
				for(var i = 0; i < hrefs.length; i++) {
					s += '<li><a href="' + hrefs[i].href + '" target="' + hrefs[i].target + '" k="' + headers[k] + '">' + hrefs[i].innerHTML + '</a></li>';
				}
				s += '</ul></td>';
			}
		}
		s += '</tr></table>';
		return s;
	}
	$('cmain').innerHTML = initCpMap();
	initCpMenus('mapmenu');
	var cmcache = false;
	function showMap() {
		showMenu('cpmap', true, 3, 3);
		if(!cmcache) ajaxget(admincpfilename + '?action=misc&operation=custommenu&' + Math.random(), 'custommenu', '');
	}
	function resetEscAndF5(e) {
		e = e ? e : window.event;
		actualCode = e.keyCode ? e.keyCode : e.charCode;
		if(actualCode == 27) {
			if($('cpmap_menu').style.display == 'none') {
				showMap();
			} else {
				hideMenu();
			}
		}
		if(actualCode == 116 && parent.main) {
			parent.main.location.reload();
			if(document.all) {
				e.keyCode = 0;
				e.returnValue = false;
			} else {
				e.cancelBubble = true;
				e.preventDefault();
			}
		}
	}
	_attachEvent(document.documentElement, 'keydown', resetEscAndF5);


	function uc_left_menu(uc_menu_data) {
		var leftmenu = $('menu_uc');
		leftmenu.innerHTML = '';
		var html_str = '';
		for(var i=0;i<uc_menu_data.length;i+=2) {
			html_str += '<li><a href="'+uc_menu_data[(i+1)]+'" hidefocus="true" onclick="uc_left_switch(this)" target="main">'+uc_menu_data[i]+'</a></li>';
		}
		leftmenu.innerHTML = html_str;
		toggleMenu('uc', '');
		$('admincpnav').innerHTML = 'UCenter';
	}

	var uc_left_last = null;
	function uc_left_switch(obj) {
		if(uc_left_last) {
			uc_left_last.className = '';
		}
		obj.className = 'tabon';
		uc_left_last = obj;
	}

	function uc_modify_sid(sid) {
		$('header_uc').href = 'http://localhost/u/ucenter/admin.php?m=frame&a=main&iframe=1&sid=' + sid;
	}
</script>
</body>
</html>
