<TABLE class=LTop1 cellSpacing=0 cellPadding=0 width=760 align=center
  border=0><TBODY>
  <TR>
    <TD class=Box1 vAlign=top width=548 bgColor=#ffffff>
      <OBJECT
      codeBase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0
      height=192 width=546 classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
        <PARAM NAME="movie" VALUE="/image/02.swf"><PARAM NAME="quality" VALUE="high"><PARAM NAME="SCALE" VALUE="exactfit">
	  <embed src="/image/02.swf" width="546"       height="192"
      quality="high"
      								pluginspage="http://www.macromedia.com/go/getflashplayer"
      								type="application/x-shockwave-flash"
      scale="exactfit"></embed>						</OBJECT><SPAN class=Box2></SPAN></TD>
    <TD width="10" rowSpan=2>&nbsp; </TD>
    <TD class=Box1 vAlign=top align=middle width=202 rowSpan=2>
      <DIV>
      <DIV align=left><A href="/index/content/4"><IMG height=28
      src="/image/ind_007.jpg" width=200 border=0></A></DIV></DIV>
        <TABLE class=marT_1 cellSpacing=0 cellPadding=2 width="98%" align=center
      border=0>
          <TBODY>
            <TR>
              <TD class=Col_B1 width="42%" height=32>
              <P class=Col_B1>为更好地充分利用本学会人才和知识的优势，向有关部门或机构提供更为优质的服务，创新和繁荣学会业务活动，发挥学会在建设领域开展学术探讨、理论研究的领军作用，以便有的放矢地安排一些科研课题和咨询项目，活跃学会的学术活动...</P></TD>
            </TR>
            <TR>
          <TD class=STYLE100></TD></TR></TBODY>
        </TABLE></TD></TR>
  <TR></TR></TBODY></TABLE>

<TABLE width="760" border=0 align="center" cellPadding=0 cellSpacing=0 class=TitB1>
  <TBODY>
  <% form_tag :action => 'search' do %>
 <TR>
      <TD width="330" align=center><table width="98%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>当前位置：首页&gt;<a href="/index/huiyilist">会议报名</a></td>
        </tr>
      </table></TD>
      <TD width="165" align=center>请输入您要查找的关键字：</TD>
      <TD width="199" align=left><input name=title size="22">
        <input type=hidden value=lawsList
            name="title"></TD>
      <TD width="66" align=left><input type="image" src="/image/sear.jpg" width="51" height="22" /></TD>
    </TR><%end%>
  <tr><td colspan="3"></TBODY>
</TABLE>
<TABLE height=266 cellSpacing=0 cellPadding=0 width=760 align=center
border=0>
  <TBODY>
  <TR>
    <TD height="266" vAlign=top class=Box1><table width="98%" border="0" align="center" cellpadding="0" cellspacing="4">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><TABLE cellSpacing="2" cellPadding="2" width="97%" align="center" border="0">
          <TBODY>
            <TR>
              <TD height="66" align="center" class="title16"><%=@huiyi.title%></TD>
            </TR>
            <TR>
              <TD height="50"><DIV align="center">
                  <DIV align="center">发布时间：<%=@huiyi.created_at.strftime('%Y-%m-%d %H:%M:%S')%>&nbsp;&nbsp;发布人：<%=@huiyi.author%>&nbsp;&nbsp;状态： <%if @huiyi.status == 0%>
          [报名中]
        <%elsif @huiyi.status == 2%>
          [进行中]
        <%else%>
          [已结束]
        <%end%></DIV>
              </DIV></TD>
            </TR>
            <TR>
              <TD><DIV align="left"><%=@huiyi.content%></DIV></TD>
            </TR>
            <tr><td><hr></td></tr>
            <tr>
              <td>
<%if @huiyi.status == 0%>
<table width="100%">
  <div>如有问题，请致电咨询：010-58933963（兼传真），010-58933785。</div>
  <% if flash[:notice]  %>
    <div style="margin: 5px 0;padding: 5px;background-color: #FF0000;color: #FFFFFF"> <%= flash[:notice]  %>  </div>
  <% end  %>
  <% form_tag :action => 'bmcreate' do %>
    <input type="hidden" value="<%=@huiyi.id%>" name="baoming[huiyi_id]"/>
    <tr><td align="right">报名姓名：</td>
      <td><%= text_field 'baoming', 'name',:class => 'txt'  %></td>
    </tr>

    <tr><td align="right">报名性别：</td>
      <td><%= radio_button("baoming", "sex", "男", :class => 'radio')  %> 男 <%= radio_button("baoming", "sex", "女", :class => 'radio')  %> 女</td>
    </tr>

    <tr><td align="right">工作单位：</td>
      <td><%= text_field 'baoming', 'workunit',:class => 'txt'  %></td>
    </tr>

    <tr><td align="right">手机号码：</td>
      <td><%= text_field 'baoming', 'phone',:class => 'txt'  %></td>
    </tr>

    <tr><td align="right">返程订票：</td>
      <td><%= text_field 'baoming', 'ticket',:class => 'txt'  %></td>
    </tr>

    <tr><td width="82" align="right" valign="middle">备注内容：</td>
      <td width="613" valign="top"><%= text_area 'baoming', 'remark', :class => 'tarea', :size => '50x6', :onkeyup => 'textareasize(this)'  %></td>
    </tr>

    <tr><td colspan="2"><input type="submit" value="提交" name="settingsubmit" class="btn"/></td></tr>
    <% end %>
</table>
<%end%>
              </td>
            </tr>
          </TBODY>
        </TABLE></td>
      </tr>
    </table>      <P>
      </P></TD></TR></TBODY></TABLE>