<tr><td class="td27" colspan="2">论文标题:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_field 'lunwen', 'title',:class => 'txt'  %>
</td><td class="vtop tips2">论文标题</td></tr>

<tr><td class="td27" colspan="2">所属分类:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= collection_select :lunwen, :lwcategory_id, Lwcategory.find(:all), :id, :name, {:include_blank => true } %>
</td><td class="vtop tips2">所属分类</td></tr>

<tr><td class="td27" colspan="2">作者:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_field 'lunwen', 'author',:class => 'txt'  %>
</td><td class="vtop tips2">作者</td></tr>

<tr><td class="td27" colspan="2">作者工作单位:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_field 'lunwen', 'author_unit',:class => 'txt'  %>
</td><td class="vtop tips2">作者工作单位</td></tr>

<tr><td class="td27" colspan="2">推荐单位:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= collection_select :lunwen, :tjdanwei_id, Tjdanwei.find(:all), :id, :name, {:include_blank => true } %>
</td><td class="vtop tips2">所属分类</td></tr>

<tr><td class="td27" colspan="2">请选择要上传的附件:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= file_field("lunwen", "filepath") %>
</td><td class="vtop tips2"></td>
</tr>

<tr><td class="td27" colspan="2">摘要:</td></tr>
<tr class="noborder"><td class="vtop rowform">
<%= text_area 'lunwen', 'content', :class => 'tarea', :size => '50x6', :onkeyup => 'textareasize(this)'  %>
</td><td class="vtop tips2">摘要</td></tr>