<div class="itemtitle"><h3>垃圾箱</h3>
  <ul class="tab1">
    <li class="current"><a href="/zhuanjia/trash"><span>专家</span></a></li>
    <li><a href="/zhicheng/trash"><span>职称</span></a></li>
    <li><a href="/hycategory/trash"><span>行业分类</span></a></li>
  </ul>
</div>
<table class="tb tb2">
  <tbody>
    <tr class="header">
      <th>专家编号</th><th>姓名</th><th>性别</th><th>出生日期</th><th>职称</th><th>操作</th>
    </tr>
    <% for zhuanjia in @zhuanjias %>
      <tr class="hover">
        <td><%=h zhuanjia.code %></td>
        <td><%=h zhuanjia.name %></td>
        <td><%=h zhuanjia.sex %></td>
        <td><%=h zhuanjia.birthday %></td>
        <td><%=h zhuanjia.zhicheng.name rescue nil %></td>
        <td>
          <%= link_to '查看', :action => 'show', :id => zhuanjia %>
          <%= link_to '还原', { :action => 'revert', :id => zhuanjia }, :confirm => '确认要还原吗？', :method => :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>